@media screen and (max-width: 1600px){
    header{
        padding-right: 50px;
        padding-left: 50px;
    }
    .header-menu-item:first-child a{
        word-break: break-word;
        padding-right: 20px;
    }
    .banner-item {
        padding-bottom: 160px;
    }
    .banner-title{
        max-width: 1100px;
    }
    .what-we-do{
        padding: 0 50px;
    }
    .top-sales{
        padding: 0 50px;
    }
    .see-more{
        width: 80%;
    }
    .work-with-us{
        padding: 0 50px;

    }
    .review{
        padding: 0 50px;

    }
    .why-us{
        padding: 0 50px;

    }
    .blog{
        padding: 0 50px;

    }
    .about{
        padding-left: 50px;
    }
    .credit-section{
        padding: 0 50px;
    }
    footer{
        padding-left: 50px;
        padding-right: 50px;
    }
    .navbar-whatsapp{
        margin-right: 30px;
    }
    .navbar-tel{
        margin-right: 30px;
    }
    .navbar-working-time{
        margin-right: 30px;
    }
    .top-sale-features{
        column-gap: 20px;
    }
    .credit-info{
        max-width: 600px;
        z-index: 1;
    }
    .contacts{
        padding: 0 50px;
    }
    .why-us:before{
        display: none;
    }
    .review:before{
        display: none;
    }
    .work-with-us:before{
        display: none;
    }
    .top-sales:before{
        display: none;
    }
    .dropdown.opened{
        width: calc(100% - 100px);
    }
}
@media screen and (max-width: 1440px){
    header{
        padding-right: 50px;
        padding-left: 50px;
    }
    .header-menu-item:first-child a{
        word-break: break-word;
        padding-right: 20px;
    }
    .header-menu-link{
        font-size: 14px;
        white-space: nowrap;
    }
    .header-menu-item{
        margin-right: 30px;
    }
    .banner-title{
        max-width: 919px;
        font-size: 40px;
    }
    .what-we-do{
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .top-sales{
        margin-bottom: 100px;
    }
    .review{
        margin-bottom: 100px;
    }
    .work-with-us{
        margin-bottom: 100px;
    }
    .leave-request{
        padding-right: 158px;
    }
    .why-us{
        margin-bottom: 100px;
    }
    .blog{
        margin-bottom: 100px;
    }
    .credit:before{
        width: 400px;
        position: absolute;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
    }
    .credit:after{
        width: 500px;
        position: absolute;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
    }
    .credit-info{
        font-size: 22px;
        line-height: 40px;
        margin-top: 0;
    }
    .why-us-item p{
        max-width: 180px;
        z-index: 1;
        position: relative;
    }
    .project:before{
        width: 300px;
    }
    .contract:before{
        width: 300px;
    }
    .shipping:before{
        width: 280px;
    }
    .house:before{
        width: 250px;
    }
    .delivery:before{
        width: 250px;
    }
    .work-with-us-info p{
        max-width: 250px;
    }
    .work-with-us-info >div:nth-child(2n) p{
        max-width: 250px;
    }
    .request:before{
        width: 200px;
        background-size: contain;
        background-position: bottom;
        background-repeat: no-repeat;
    }
    .navbar-tel{
        font-size: 12px;
        margin-right: 20px;
    }
    .navbar-left-text{
        font-size: 12px;
        width: 200px;
    }
    .navbar-whatsapp{
        font-size: 12px;
        margin-right: 20px;
    }
    .navbar-working-time{
        font-size: 12px;
        margin-right: 20px;
    }
    .about-right{
        width: 50%;
    }
    .about-left{
        width: 50%;
    }
    .about-info{
        gap: 50px;
    }
    .leave-request input{
        width: 250px;
    }
    .request-form .btn{
        width: 250px;
    }
    .request-form{
        gap: 20px;
    }
    .why-us-item h2{
        position: relative;
        z-index: 1;

    }
    .review-bottom p{
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .review-stars{
        gap: 0;
    }
    .about:after{
        top: -100px;
    }
}
@media screen and (max-width: 1320px){
    .review-stars{
        align-items: flex-start;
    }
    .house-item{
        width: calc((100% - 40px)/3);
    }
    .header-menu-link{
        font-size: 12px;
    }
    .header-menu-item:first-child{
        width: auto;
        margin-right: 20px;
    }
    .why-us-item{
        width: calc((100% - 20px) / 2);
    }
    .work-with-us-info >div{
        width: calc(100%  / 2);
    }
}

@media screen and (max-width: 1200px){
    .navbar-left-text{
        display:none ;
    }
    .navbar-whatsapp{
        text-indent: -9999px;
    }
    .header-menu-item{
        margin-right: 20px;
    }
}

@media screen and (max-width: 1024px){
    .banner-title {
        font-size: 30px;
        line-height: 40px;
    }
    .banner-left{
        padding-left: 50px;
    }
    .banner-right{
        background-size: contain;
    }
    .banner-text{
        max-width: 100%;
        padding-right: 20px;
    }
    .what-we-do{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .work-with-us-info >div{
        width: calc(100%/2 );
    }
    .review{
        margin-bottom: 50px;
    }
    .work-with-us{
        margin-bottom: 50px;
    }
    .leave-request{
        flex-direction: column;
    }
    .request-form{
        width: 100%;
        justify-content: center;
    }
    .request-right{
        width: 100%;
    }
    .blog-post-list{
        flex-direction: column;
    }
    .about-right{
        width: 40%;
        background-size: contain;
        background-position: right bottom;
        height: auto;
    }
    .about-text{
        font-size: 14px;
        line-height: 19px;
    }
    .section-title{
        font-size: 24px;
        line-height: 34px;
        margin-bottom: 30px!important;
    }
    .about-left{
        width: 60%;
    }
    .credit:before{
        width: 250px;
    }
    .credit:after{
        width: 250px;
    }
    .credit-info{
        font-size: 20px;
    }
    footer{
        flex-wrap: wrap;
    }
    .footer-mid{
        width: 50%;
    }
    .mobile-header{
        display: flex;
        width: 100%;
        align-items: center;
    }
    .mobile-header .header-logo{
        height: 46px;
        width: 295px;
        background: url('../images/Sprite.svg');
        background-position: 0 0;
    }
    .burger-btn{
        width: 22px;
        height: 22px;
        background: url('../images/Sprite.svg');
        background-position: -369px -84px;
        margin-left: auto;
    }
    .header-menu, body nav,body nav .header-search-form,  .navbar-top{
        display: none;
    }
    .mobile-header-right{
        margin-left: auto;
        display: flex;
        align-items: center;
        gap: 18px;
    }

    .banner-item{
        flex-direction: column;
        height: auto;
        padding-bottom: 0;
    }
    .banner-left{
        padding-right: 50px;
    }
    .banner-right{
        height: 436px;
        background-size: contain;
        background-position: right bottom;
    }
    .mobile-header p{
        color: #4B4E50;
        font-family: 'Gilroy-SemiBold', sans-serif;
        font-size: 12px;
        margin-left: 15px;
    }
    .mobile-header a{
        color: #F25722;
        text-decoration: underline;
        font-family: 'Gilroy-SemiBold', sans-serif;
        font-size: 11px;
    }
    .mobile-contact{
        justify-content: flex-start;
        margin-left: 15px;
    }
    .mobile-header .search-btn{
        position: relative;
        right: 0;
    }
    .img-bg:before{
        height: 128px;
    }
    .why-us-item{
        width: calc((100% - 20px) / 2);
    }

    nav.opened{
        order: 1;
    }
    nav.opened .menu-catalog{
        background: transparent;
        height: auto;
        width: 100%;
        align-items: flex-start;
        padding-left: 21px;
    }
    nav.opened .menu-catalog a{
        color: #4B4E50;
        padding-left: 0;
    }
    nav.opened .menu-catalog a:before{
        background-position: -113px -208px;
        width: 14px;
        height: 9px;
        left: auto;
        right: 42px;
    }
    nav.opened .header-menu-item{
        padding: 21px;
        border-bottom: 1px solid #DCDCDC;
        box-sizing: border-box;
    }
    .header-menu{
        width: 100%;
        box-sizing: border-box;
    }
    nav{
        box-sizing: border-box;
    }
    .header-content.opened{
        position: fixed;
        background: #fff;
        width: 100%;
        left: 0;
        top: 102px;
        z-index: 2;
        overflow-Y: auto;
        height: calc(100vh - 102px);
        display: flex;
        flex-direction: column;
    }
    .navbar-top.opened{
        display: block;
        order: 2;
    }
    .navbar-left{
        display: none;
    }
    .navbar-right{
        flex-direction: column;
        gap: 15px;
        padding-top: 25px;
        align-items: flex-start;
        padding-left: 21px;
    }
    .call-input{
        display: flex;
        width: 322px;
        height: 60px;
        padding: 21px 25px;
        box-sizing: border-box;
        margin-bottom: 18px;
    }
    .navbar-top.opened form{
        flex-direction: column;
    }
    .navbar-top.opened form .btn{
        width: 322px;
        height: 71px;
    }
    .navbar-top.opened form label{
        display: block;
        color: #909090;
        font-size: 11px;
        font-family: 'Gilroy-SemiBold', sans-serif;
        margin-bottom: 6px;
    }
    .navbar-working-time:before{
        width: 28px;
        height: 28px;
        background-position: -47px -207px;
    }
    .navbar-tel:before{
        width: 28px;
        height: 28px;
        background-position: -78px -207px;
    }
    .navbar-whatsapp{
        text-indent: 1px;
        font-size: 13px;
    }
    .navbar-tel{
        font-size: 13px;
    }
    .navbar-working-time{
        font-size: 13px;
    }
    .burger-btn-close{
        width: 15px;
        height: 14px;
        background: url("../images/Sprite.svg");
        background-position: -313px -211px;
        margin-left: auto;
    }
    .mobile-header-right form.opened{
        display: flex;
        position: absolute;
        width: 100%;
        right: 0;
        background: #fff;
        padding-right: 24px;
        padding-left: 15px;
        box-sizing: border-box;
    }
    .mobile-header-right form.opened .search{
        width: 100%;
        max-width: 100%;
        display: block;
        height: 52px;
        box-sizing: border-box;
    }
    .mobile-header-right form.opened .search-btn{
        right: 40px;
    }
    .mobile-header-right form.opened .close-search{
        display: block;
        border:none;
        width: 15px;
        height: 14px;
        background: url("../images/Sprite.svg");
        background-position: -313px -211px;

    }
    .dropdown.opened{
        position: relative;
        max-width: 100%;
        top: 0;
        left: 0;
        border: none;
        border-radius: 0;
        flex-direction: column;
        height: auto;
        gap: 28px;
        padding: 40px 0 23px;
    }
    .menu-catalog{
        flex-direction: column;
        display: flex;
    }
    .dropdown h4{
        font-size: 12px;
        margin-top: 14px;
        margin-bottom: 10px;


    }
    .dropdown ul{
        height: 100%;
    }
    .dropdown li a{
        font-size: 13px;
    }
    .dropdown:last-child h4{
        margin-top: 0;
    }
    .header-menu-item.selected > a{
        color: #83CB2F!important;
    }
    nav.opened .header-menu-item.selected a:before{
        transform: rotate(180deg);
    }
}
@media screen and (max-width: 900px){
    .house-item {
        width: calc((100% - 20px) / 2);
    }
    .shipping:before {
        width: 180px;
    }
    .project:before {
        width: 221px;
        height: 185px;
    }
    .contract:before {
        width: 200px;
    }
    .house:before {
        width: 200px;
    }
    .request:before{
        width: 150px;
    }
    .request .btn{
        width: 200px;
    }
    .why-us-item{
        width: calc((100% - 20px) / 2);
    }
    .credit{
        height: auto;
        padding-top: 25px;
    }
    .credit-info{
        font-size: 18px;
        line-height: 25px;
    }
}

@media screen and (max-width: 700px){
    .what-we-do:before{
        display: none;
    }
    header {
        padding-right: 21px;
        padding-left: 21px;
    }
    .mobile-header .header-logo{
        width: 142px;
        height: 22px;
        background: url('../images/logo-small.svg');
    }
    .banner-title{
        font-size: 23px;
        line-height: 30px;
        margin-bottom: 10px;
    }
    .banner-text{
        font-size: 13px;
        line-height: 20px;
        margin-bottom: 18px;
    }
    .banner-item .btn{
        width: 162px;
        height: 62px;
        font-size: 11px;
    }
    .banner-left{
        padding-right: 20px;
        padding-left: 20px;
    }
    .footer-mid{
        margin-top: 40px;
    }
    .what-we-do {
        padding: 0 20px;
    }
    .review, .top-sales,.top-sales, .why-us, .blog,.about, .credit-section,
    .work-with-us{
        padding: 0 20px;
        margin-bottom: 60px;
    }
    .work-with-us-info >div {
        width: 100%;
        height: 185px;
        padding: 17px 16px 5px;
    }
    .work-with-us-info h2{
        font-size: 16px;
    }
    .work-with-us-info p{
        font-size: 13px;
        max-width: 195px
    }
    .work-with-us-info >div:nth-child(2n) p{
        max-width: 195px;
    }
    .work-with-us-info >div > span{
        font-size: 40px;

    }
    .delivery:before{
        height: 185px;
        background-size: contain;
    }
    .house:before{
        height: 193px;
        background-size: contain;

    }
    .shipping:before{
        height: 145px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
    }
    .contract:before{
        height: 120px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
    }
    .work-with-us-info >div.request{
        height: 406px;
        align-items:center ;
        text-align: center;
    }
    .request .btn{
        width: 100%;
        margin-top: 18px;
    }
    .request:before{
        height: 208px;
        width: 185px;

        left: auto;
        right: auto;
    }
    .why-us-item {
        width: 100%;
    }
    .work-with-us-info{
        gap: 20px;
    }
    .work-with-us-info >div:nth-child(2n)   {
        box-shadow:0 0 10px #c4c4c447
    }
    .house-item {
        width: 100%;
    }
    .top-sale-feature{
        width: 50%;
    }
    .see-more {
        width: 305px;
        font-size: 11px;
        height: 62px;
    }
    .why-us-item h2{
        font-size: 16px;
        margin-bottom: 5px;
    }
    .why-us-item p{
        font-size: 13px;
    }
    .request-title{
        font-size: 18px;
        text-align: center;
        margin-bottom: 15px;
    }
    .request-text{
        font-size: 12px;
        text-align: center;
        line-height: 18px;
    }
    .leave-request{
        padding: 25px 15px 77px;
    }
    .request-form{
        flex-direction: column;
    }
    .request-form div{
        width: 100%;
    }
    .leave-request input{
        width: 100%;
    }
    .leave-request .btn{
        width: 100%;
    }
    .leave-request:after{
        height: 134px;
        width: 134px;
        position: absolute;
        right: 0;
        bottom: -50px;
    }
    .leave-request:before{
        height: 134px;
        width: 191px;
        position: absolute;
        left: 0;
        bottom: -50px;
        background-repeat: no-repeat;

    }
    .footer-left{
        width: 100%;
        max-width: 100%;
        align-items: center;
        text-align: center;
    }
    .footer-mid{
        width: 100%;
        max-width: 100%;
        align-items: center;
        text-align: center;
    }
    .footer-menu{
        height: 100%;
    }
    .footer-right{
        width: 100%;
        max-width: 100%;
        align-items: center;
        text-align: center;
        margin-top: 40px;
    }
    .address{
        max-width: 100%;
        padding-left: 0;
        padding-top: 40px;
    }
    .address:before{
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    .email{
        max-width: 100%;
        padding-left: 0;
        padding-top: 40px;
        text-align: center;
        justify-content: center;
    }
    .email:before{
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    .tel{
        max-width: 100%;
        padding-left: 0;
        padding-top: 40px;
        text-align: center;
        justify-content: center;
    }
    .tel:before{
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    .credit{
        height: 605px;
        padding-right: 15px;
        padding-left: 15px;
        justify-content: flex-start;
        overflow: hidden;
    }
    .credit:before {
        width: 342px;
        height: 342px;
        bottom: 0;
        left: -70px;
    }
    .credit:after {
        bottom: 0;
        right: -100px;
        width: 430px;
        height: 274px;
    }
    .credit .btn{
        width: 100%;
        margin-top: 25px;
        font-size: 11px;
        height: 62px;
        padding-right: 24px;
        padding-left: 24px;
        white-space: nowrap;
    }
    footer{
        padding-right: 20px;
        padding-left: 20px;
    }
    .about-info{
        flex-direction: column;
        gap: 0;
    }
    .about-left{
        width: 100%;
    }
    .about-right{
        width: 100%;
        height: 349px;
    }
    .about{
        padding-right: 0;
    }
    .section-title{
        font-size: 20px;
        margin-bottom: 15px!important;
        line-height: 30px;

    }
    .blog{
        display: none;
    }
    .why-us-item:nth-child(6):before{
        width: 171px;
        height: 123px;
        background-size: 100%;
        top: 0 ;
    }
    .why-us-item:nth-child(5):before{
        width: 146px;
        height: 171px;
        background-size: 100%;
        top: 0 ;
    }
    .why-us-item:nth-child(4):before{
        width: 133px;
        height: 173px;
        background-size: 100%;
        top: 0 ;
    }
    .why-us-item:nth-child(3):before{
        width: 176px;
        height: 158px;
        background-size: 100%;
        top: 0 ;
    }
    .why-us-item:nth-child(2):before{
        width: 143px;
        height: 155px;
        background-size: 100%;
        top: 0 ;
    }
    .why-us-item:nth-child(1):before{
        width: 171px;
        height: 123px;
        background-size: 100%;
        top: 0 ;
    }
    .why-us-item{
        height: 173px;
    }
    .banner-right{
        height: 282px;
    }
    .top-sales:after{
        display: none;
    }
    .what-we-do:after{
        display: none;
    }
}
