@font-face {
    font-family: 'Gilroy-Regular';
    src: url('../fonts/Gilroy-Regular.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: url('../fonts/Gilroy-Medium.ttf');
    font-display: swap;
}
@font-face {
    font-family: 'Gilroy-SemiBold';
    src: url('../fonts/Gilroy-SemiBold.ttf');
    font-display: swap;
}
@font-face {
    font-family: 'Gilroy-Bold';
    src: url('../fonts/Gilroy-Bold.ttf');
    font-display: swap;
}
@font-face {
    font-family: 'Songersemiexpandedbold';
    src: url('../fonts/Songersemiexpandedbold.ttf');
    font-display: swap;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Gilroy-Regular', sans-serif;
    color: #4B4E50;

}
p,h1,h2,h3,h4{
    margin: 0;
    padding: 0;
}
div{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
.df{
    display: flex;
}
.dn{
    display:none;
}
.j-center{
    justify-content: center;
}
.j-spc-btw{
    justify-content: space-between;
}
.a-center{
    align-items: center;
}
.f-column{
    flex-direction: column;
}
.f-wrap{
    flex-wrap: wrap;
}
.nowrap{
    white-space: nowrap;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.btn-clear{
    border: none;
    background: transparent;
    box-sizing: border-box;
}
input{
    background: #F3F2F2;
    color: #909090;
    border-radius: 5px;
    border: none;
}

.btn-gray{
    background: radial-gradient(100% 144.66% at 0% 0%, #4B4E50 0%, #35383A 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    linear-gradient(101.7deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 21.5%, rgba(255, 255, 255, 0.28) 21.51%, rgba(255, 255, 255, 0) 45.14%);
    box-shadow: 0px 13.77px 13.77px -6.88px #4B4E501A;
    border: 0.69px solid;
    border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
    color: #fff;
    font-size: 12px;
    font-weight: 700;
}

.btn-green{
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    background: radial-gradient(103.26% 151.58% at -3.26% -6.82%, #83CB2F 0%, #83CB2F 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    linear-gradient(101.7deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 21.5%, rgba(255, 255, 255, 0.28) 21.51%, rgba(255, 255, 255, 0) 45.14%);
    border: 0.69px solid;

    border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
    box-shadow: 0px 13.77px 13.77px -6.88px #A2EE4833;

}

.btn-orange{
    background: radial-gradient(100% 144.66% at 0% 0%, #F25722 0%, #F56F40 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    linear-gradient(101.7deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 21.5%, rgba(255, 255, 255, 0.28) 21.51%, rgba(255, 255, 255, 0) 45.14%);

    color: #FAFAFA;
    box-shadow: 0px 2.51px 0.54px 0px #F2572266;

}
.btn{
    padding: 20px 32px;
    border-radius: 7px;
    font-family: 'Songersemiexpandedbold', sans-serif;
}

header{
    padding: 25px 130px 31px;
}
.navbar-logo{
    width: 295px;
    height: 46px;
    background: url("../images/logo.svg");
}
.navbar-left{
    gap: 35px;
}
.navbar-left-text{
    font-size: 15px;
    line-height: 18px;
    color: #4B4E50;
    font-family: 'Gilroy-Medium', sans-serif;

    width: 268px;
}
.navbar-right{
    justify-content: flex-end;
    align-items: center;
}
.navbar-top{
    width: 100%;
    align-items: center;
    margin-bottom: 17px;
}
.navbar-whatsapp{
    margin-right: 77px;
    font-size: 15px;
    color: #4B4E50;
    font-weight: 500;
    font-family: 'Gilroy-Medium', sans-serif;
    line-height: 18px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 36px;
}
.navbar-whatsapp:before{
    content: '';
    width: 26px;
    height: 26px;
    position: absolute;
    background-image: image-set(
            url("../images/Sprite2x.svg") 2x,
            url("../images/Sprite.svg") 1x
    );
    background-position: -356px -25px;
    left: 0;
}
.navbar-tel{
    margin-right: 60px;
    font-size: 16px;
    color: #4B4E50;
    font-weight: 700;
    line-height: 21px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 36px;
    font-family: 'Gilroy-Bold', sans-serif;
}
.navbar-tel:before{
    content: '';
    width: 26px;
    height: 26px;
    position: absolute;
    background: url('../images/Sprite.svg');
    background-position: -385px -25px;
    left: 0;
}
.navbar-working-time{
    margin-right: 60px;
    font-size: 15px;
    color: #4B4E50;
    font-family: 'Gilroy-Medium', sans-serif;

    line-height: 21px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 36px;
}
.navbar-working-time:before{
    content: '';
    width: 26px;
    height: 26px;
    position: absolute;
    background: url('../images/Sprite.svg');
    background-position: -414px -25px;
    left:0;
}
.btn-call{
    width: 197px;
    font-family: 'Songersemiexpandedbold',sans-serif;
    height: 57px;
    text-transform: uppercase;

}
.header-menu-link{
    font-size: 15px;
    font-family: 'Songersemiexpandedbold',sans-serif;
    line-height: 20px;
    text-transform: uppercase;
    color: #4B4E50;
}
.header-menu-item:first-child{
    margin-right: 42px;
    width: 252px;
    height: 64px;
    color: #fff;
    display: flex;
    align-items: center;
    background: radial-gradient(103.26% 151.58% at -3.26% -6.82%, #83CB2F 0%, #83CB2F 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    linear-gradient(101.7deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 21.5%, rgba(255, 255, 255, 0.28) 21.51%, rgba(255, 255, 255, 0) 45.14%);
    border-radius: 7px;
}
.header-menu-item:first-child a{
    color: #fff;
    padding-left: 63px;
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}
.header-menu-item:first-child a:before{
    content: '';
    width: 26px;
    height: 26px;
    position: absolute;
    background: url('../images/Sprite.svg');
    background-position: -326px -25px;
    left:18px;
}
.header-menu-item{
    margin-right: 45px;
}
.header-menu-item:last-child{
    margin-right: 39px;
}
.search{
    padding: 14px 40px 10px 20px;
    max-width: 344px;
    width: 100%;
    height: 52px;
    font-size: 16px;
    text-overflow: ellipsis;
}
.banner-title{
    font-size: 50px;
    font-family: 'Songersemiexpandedbold',sans-serif;
    line-height: 65px;
    max-width: 919px;
    margin-bottom: 38px;
}
.banner-left{
    padding-left: 130px;
    padding-top: 56px;
    position: relative;

}
.banner-left:after{
    content: '';
    width: 245px;
    height: 240px;
    background: url('../images/banner-leaf-left.webp') no-repeat;
    position: absolute;
    right: -200px;
    top: 50%;
    transform: translateY(-50%);

}
.banner-item{
    background: url('../images/banner.webp');
    background-size: cover;
    display: flex;
    height: 719px;
    justify-content: space-between;
}
.banner-item:before{
    content: '';
    width: 143px;
    height: 240px;
    position: absolute;
    background: url('../images/banner-leaf.webp') no-repeat;
}
.banner-text{
    max-width: 602px;
    width: 100%;
    border-radius: 12px;
    background: #fff;
    padding: 25px 159px 30px 27px;
    font-size: 16px;
    font-family: 'Songersemiexpandedbold',sans-serif;
    line-height: 24px;
    box-shadow: 0px 34px 10px 0px #C4C4C400;
    margin-bottom: 39px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}
.banner-text:after{
    content: "";
    position: absolute;
    width: 171px;
    height: 131px;
    right: 0;
    top: 0;
    background-image: image-set(
            url("../images/banner-text-bg-1x.webp") 1x,
            url("../images/banner-text-bg.webp") 2x);
    background-repeat: no-repeat ;
    background-position: right top;
    /*background:*/

    /*        url("../images/banner-text-bg.webp") no-repeat;*/
}
.banner-text span{
    color: #83CB2F;
    font-size: 19px;
}
.banner-btn{
    width: 302px;
    height: 79px;
    font-size: 14px;
    line-height: 18px;
    font-family: 'Songersemiexpandedbold',sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-right{
    max-width: 1130px;
    width: 100%;
    height: 719px;
    background-image: image-set(
            url("../images/banner-house.webp") 2x,
            url("../images/banner-house-1x.webp") 1x
    );
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50px bottom;
}
.owl-theme .owl-nav{
    margin-top: 32px;
    text-align: right;
    padding-right: 130px;
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev{
    background: #fff;
    width: 71px;
    height: 71px;
    border-radius: 9px;
    box-shadow: 0px 0 10px 3px #c4c4c40f;
}
.owl-carousel .owl-nav button.owl-prev span{
    text-indent: -99999px;
    background: url('../images/Sprite.svg');
    background-position: -237px -101px;
    width: 18px;
    height: 28px;
    display: block;
    text-align: center;
    margin: 0 auto;
}
.owl-carousel .owl-nav button.owl-prev:hover span{
    background-position: -269px -101px;

}
.owl-carousel .owl-nav button.owl-next span{
    text-indent: -99999px;
    background: url('../images/Sprite.svg');
    background-position: -252px -101px;
    width: 18px;
    height: 28px;
    display: block;
    text-align: center;
    margin: 0 auto;
}
.owl-carousel .owl-nav button.owl-next:hover span{
    background-position: -283px -101px;

}
.owl-carousel .owl-nav button.owl-next:hover, .owl-carousel .owl-nav button.owl-prev:hover{
    box-shadow: 0px 13.77px 13.77px -6.88px #A2EE4833;
    background: radial-gradient(103.26% 151.58% at -3.26% -6.82%, #83CB2F 0%, #83CB2F 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    linear-gradient(101.7deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 21.5%, rgba(255, 255, 255, 0.28) 21.51%, rgba(255, 255, 255, 0) 45.14%);

}
.what-we-do{
    margin-top: 130px;
    padding: 0 130px ;
    margin-bottom: 130px;
}
.section-title{
    font-size: 35px;
    font-family: 'Songersemiexpandedbold', sans-serif;
    line-height: 46px;
    margin-bottom: 50px;
}
.house-list{
    gap:24px 20px;
    align-items: flex-end;
}
.house-item {
    width: calc((100% - 60px)/4);
}
.house-item p{
    text-align: center;
    font-family: 'Songersemiexpandedbold', sans-serif;
    font-size: 20px;
    line-height: 26px;
    margin-top: 29px;
    color: #4B4E50;
}
.house-item:hover p{
    color: #83CB2F;
}
.img-bg{
    position: relative;
    display: flex;
    justify-content: center;
}
.img-bg img{
    width: 100%;
}
.img-bg:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 154px;
    background: #E1E1E1;
    border-radius: 20px;
    bottom: 0;
    z-index: -1;
}
.house-item:hover .img-bg:before{
    background: #83CB2F;
}
.top-sales{
    padding: 0 130px ;
    margin-bottom: 130px;
    position: relative;
}
.top-sale-list .owl-prev{
    position: absolute;
    left: -103px;
    top: 50%    ;
    transform: translateY(-50%);
}
.top-sale-list .owl-next{
    position: absolute;
    right: -103px;
    top: 50%    ;
    transform: translateY(-50%);
}

.top-sale-item{
    box-shadow: 0 0 10px #c4c4c447;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-left: 1px;
    margin-right: 1px;
}
.top-sale-title{
    font-size: 20px;
    line-height: 26px;
    padding: 22px 22px 25px;
    font-family: 'Songersemiexpandedbold', sans-serif;
}
.top-sale-feature{
    font-size: 14px;
    width: 128px;
    color: #909090;
    font-family: 'Gilroy-Medium', sans-serif;
    padding-left: 39px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;

}
.top-sale-feature:nth-child(2n){
    width: 161px;
}
.size:before{
    content: '';
    width: 27px;
    height: 26px;
    position: absolute;
    background: url("../images/Sprite.svg");
    background-position: -311px -54px;
    left: 0;
}
.area:before{
    content: '';
    width: 27px;
    height: 26px;
    position: absolute;
    background: url("../images/Sprite.svg");
    background-position: -341px -55px;
    left: 0;
}
.toilet:before{
    content: '';
    width: 27px;
    height: 26px;
    position: absolute;
    background: url("../images/Sprite.svg");
    background-position: -369px -54px;
    left: 0;
}
.bedroom:before{
    content: '';
    width: 27px;
    height: 26px;
    position: absolute;
    background: url("../images/Sprite.svg");
    background-position: -396px -54px;
    left: 0;
}
.floor:before{
    content: '';
    width: 27px;
    height: 26px;
    position: absolute;
    background: url("../images/Sprite.svg");
    background-position: -311px -83px;
    left: 0;
}
.time:before{
    content: '';
    width: 27px;
    height: 26px;
    position: absolute;
    background: url("../images/Sprite.svg");
    background-position: -340px -84px;
    left: 0;
}
.top-sale-feature span{
    color: #4B4E50;
    font-size: 15px;
    font-family: 'Gilroy-Bold', sans-serif;
}
.top-sale-features{
    padding-right: 22px;
    padding-left: 22px;
    row-gap: 22px;
    column-gap: 52px;
    margin-bottom: 25px;
}
.no-sale-price{
    color: #C6C6C6;
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 8px;
    padding-left: 22px;
    display: flex;
    align-items: center;
    gap: 8px;
}
.no-sale-price span{
    font-size:15px;
    text-decoration: line-through;
}
.price{
    color: #909090;
    font-size: 14px;
    font-family: 'Gilroy-Medium', sans-serif;
    padding-left: 22px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    gap: 32px;
}
.price span{
    color: #F25722;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 23px;
    line-height: 27px;
}
.feature-price{
    color: #C6C6C6;
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 22px;
    padding-left: 22px;
    display: flex;
    align-items: center;
    gap: 38px;
}
.feature-price span{
    color: #C6C6C6;
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 16px;
    line-height: 27px;
}
.see-more{
    max-width: 347px;
    width: 100%;
    height: 66px;
    font-family: 'Songersemiexpandedbold', sans-serif;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 22px;
    margin-bottom: 36px;
    margin-right: 31px;
}
.work-with-us{
    padding-left: 130px;
    padding-right: 130px;
    margin-bottom: 130px;
}
.work-with-us-info >div{
    width: calc(100%/3 );
    background: radial-gradient(50% 50% at 50% 50%, #A4E757 0%, #83CB2F 100%);
    height: 298px;
    padding: 35px 26px;
    position: relative;
}

.work-with-us-info >div:nth-child(2n){
    background: #fff;
}
.work-with-us-info >div > span{
    margin-top: auto;
    color: #A9DB6F;
    font-size: 80px;
    font-family: 'Songersemiexpandedbold', sans-serif;

}
.work-with-us-info >div:nth-child(2n) >span{
    color: #F3F3F3;
}
.work-with-us-info h2{
    color: #fff;
    font-size: 25px;
    font-family: 'Songersemiexpandedbold', sans-serif;
    margin-bottom: 10px;
}
.work-with-us-info p{
    font-size: 16px;
    font-family: 'Gilroy-Medium', sans-serif;
    color: #fff;
}
.work-with-us-info >div:nth-child(2n) h4{
    color: #4B4E50;
}
.work-with-us-info >div:nth-child(2n) p{
    color: #909090;
    max-width: 346px;
}
.work-with-us-info >div:nth-child(2n) p span{
    color: #83CB2F;
    font-family: 'Gilroy-Bold', sans-serif;
    text-decoration: underline;
}
.project:before{
    content: '';

    position: absolute;
    right: 0;
    bottom: 0;
    width: 382px;
    height: 298px;
    background-image: image-set(
            url("../images/01.webp") 2x,
            url("../images/01-1x.webp") 1x
    );
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;

}
.contract:before{
    content: '';
    background-image: image-set(
            url("../images/02.webp") 2x,
            url("../images/02-1x.webp") 1x
    );
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 354px;
    height: 179px;
}
.shipping:before{
    content: '';
    background-image: image-set(
            url("../images/03.webp") 2x,
            url("../images/03-1x.webp") 1x
    );
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 331px;
    height: 213px;
}
.house:before{
    content: '';
    background-image: image-set(
            url("../images/04.webp") 2x,
            url("../images/03-1x.webp") 1x
    );
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 317px;
    height: 298px;
}
.delivery:before{
    content: '';
    background-image: image-set(
            url("../images/05.webp") 2x,
            url("../images/05-1x.webp") 1x
    );
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 400px;
    height: 298px;
}
.request:before{
    content: '';
    background-image: image-set(
            url("../images/06.webp") 2x,
            url("../images/06-1x.webp") 1x
    );
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 251px;
    height: 282px;
}
.request .btn{
    width: 242px;
    height: 73px;
    font-size: 12px;
    font-family: 'Songersemiexpandedbold', sans-serif;
    margin-top: 40px;
}
.review{
    padding-left: 130px;
    padding-right: 130px;
    margin-bottom: 130px;
}
.why-us{
    padding-left: 130px;
    padding-right: 130px;
    margin-bottom: 130px;
}
.why-us-list{
    gap: 20px;
    margin-bottom: 50px;
}
.why-us-item{
    width: calc((100% - 40px) / 3);
    height: 249px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px #c4c4c447;
    padding: 25px;
    position: relative;
    overflow: hidden;
}
.why-us-item h2{
    font-family: 'Songersemiexpandedbold', sans-serif;
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 14px;
    max-width: 248px;

}
.why-us-item p{
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 14px;
    color: #A3A3A3;
    max-width: 248px;
}
.why-us-item:first-child:before{
    content: '';
    background-image: image-set(
            url("../images/why-us1.webp") 2x,
            url("../images/why-us1-1x.webp") 1x
    );
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    width: 319px;
    height: 249px;
    position: absolute;
    right: 0;
    bottom: 0;
}
.why-us-item:nth-child(2):before{
    content: '';
    background-image: image-set(
            url("../images/why-us2.webp") 2x,
            url("../images/why-us2-1x.webp") 1x
    );
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    width: 271px;
    height: 249px;
    position: absolute;
    right: 0;
    bottom: 0;
}
.why-us-item:nth-child(3):before{
    content: '';
    background-image: image-set(
            url("../images/why-us3.webp") 2x,
            url("../images/why-us3-1x.webp") 1x
    );
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    width: 284px;
    height: 249px;
    position: absolute;
    right: 0;
    bottom: 0;
}
.why-us-item:nth-child(4):before{
    content: '';
    background-image: image-set(
            url("../images/why-us4.webp") 2x,
            url("../images/why-us4-1x.webp") 1x
    );
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom right;
    width: 351px;
    height: 249px;
    position: absolute;
    right: 0;
    bottom: 0;
}
.why-us-item:nth-child(5):before{
    content: '';
    background-image: image-set(
            url("../images/why-us5.webp") 2x,
            url("../images/why-us5-1x.webp") 1x
    );
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    width: 288px;
    height: 249px;
    position: absolute;
    right: 0;
    bottom: 0;
}
.why-us-item:nth-child(6):before{
    content: '';
    background-image: image-set(
            url("../images/why-us6.webp") 2x,
            url("../images/why-us6-1x.webp") 1x
    );
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    width: 337px;
    height: 249px;
    position: absolute;
    right: 0;
    bottom: 0;
}
.request-title{
    font-size: 30px;
    line-height: 40px;
    font-family: 'Songersemiexpandedbold', sans-serif;
    margin-bottom: 10px;
}
.request-text{
    font-family: 'Gilroy-Medium', sans-serif;
    line-height: 24px;
}
.request-left{
    max-width: 575px;
}
.leave-request{
    padding: 37px 280px 56px 135px;
    align-items: flex-end;
    background: #FFFFFF;
    box-shadow: 0 0 10px #c4c4c447;
    border-radius: 20px;
    gap: 18px;
    position: relative;
    overflow: hidden;
}
.leave-request label{
    font-size: 15px;
    font-family: 'Gilroy-Medium', sans-serif;
    color: #909090;
    margin-bottom: 5px;
}
.leave-request input{
    height: 77px;
    width: 304px;
    border-radius: 10px;
    padding: 30px 32px 29px;
    font-size: 15px;
    box-sizing: border-box;

}
.leave-request:before{
    content: '';
    background: url('../images/request-left.webp');
    height: 229px;
    width: 140px;
    position: absolute;
    left: 0;
    bottom: 0;
}
.leave-request:after{
    content: '';
    background: url('../images/request-right.webp');
    height: 229px;
    width: 158px;
    position: absolute;
    right: 0;
    bottom: 0;
}
.request-form{
    gap: 46px;
    align-items: flex-end;
}
.request-form .btn{
    height: 77px;
    width: 302px;
    font-family: 'Songersemiexpandedbold', sans-serif;
    font-size: 12px;
}
.blog{
    padding-left: 130px;
    padding-right: 130px;
    margin-bottom: 130px;
}
.blog .section-title{
    margin-bottom: 50px;
}
.blog-post{
    gap: 25px;
}
.post-left{
    max-width: 400px;
    width: 100%
}
.post-right{
    width: calc(100% - 425px);
}
.post-title{
    font-size: 20px;
    line-height: 24px;
    font-family: 'Gilroy-Bold', sans-serif;
    margin-bottom: 20px;
    margin-top: 20px;
}
.post-text{
    color: #909090;
    line-height: 22px;
    font-family: 'Gilroy-Medium', sans-serif;
    margin-bottom: 20px;
}
.post-link{
    color: #F25722;
    text-decoration: underline;
    font-size: 13px;
    text-transform: uppercase;
    font-family: 'Gilroy-Medium', sans-serif;
    padding-bottom: 10px;

}
.blog-post-list{
    gap: 64px;
    margin-bottom: 55px;
}

.btn-green-outline{
    border: 1px solid #83CB2F;
    color: #83CB2F;
    font-size: 12px;
    font-family: 'Songersemiexpandedbold', sans-serif;
    width: 258px;
    height: 71px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.about-right{
    width: 889px;
    height: 661px;
    background-image: image-set(
            url("../images/master.webp") 2x,
            url("../images/master700.webp") 1x
    );
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;

}
.about-left{
    width: calc(100% - 889px);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.about{
    padding-left: 130px;
    margin-bottom: 130px;
}

.about-info .section-title{
    margin-bottom: 40px;
}
.about-info .section-title span{
    color: #83CB2F;
}

.about-text{
    font-size: 17px;
    line-height: 27px;
    font-family: 'Gilroy-Medium', sans-serif;
    margin-bottom: 10px;
}

.credit{
    text-align: center;
    width: 100%;
    height: 455px;
    background: #83CB2F;
    border-radius: 34px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;

}
.credit:before{
    content: '';
    background-image: image-set(
            url("../images/credit-left.webp") 2x,
            url("../images/credit-left-1x.webp") 1x
    );
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    width: 583px;
    height: 552px;
    position: absolute;

}
.credit:after{
    content: '';
    background-image: image-set(
            url("../images/credit-right.webp") 2x,
            url("../images/credit-right-1x.webp") 1x
    );
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    width: 636px;
    height: 430px;
    position: absolute;
    right: 0;


}

.credit-section{
    padding-left: 130px;
    padding-right: 130px;
    margin-bottom: 130px;

}
.credit-info{
    color: #fff;
    font-family: 'Songersemiexpandedbold', sans-serif;
    font-size: 25px;
    line-height: 50px;
    max-width: 724px;
    margin: auto auto 16px;
}
.credit .btn{
    width: 397px;
    height: 84px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-family: 'Songersemiexpandedbold', sans-serif;
    margin: 45px auto;
}
footer{
    background: #4B4E50;
    color: #fff;
    padding: 52px 136px 99px;
}

.footer-left{
    max-width: 363px;
}
.footer-logo{
    width: 310px;
    height: 48px;
    background: url('../images/footer-logo.svg');
    margin-bottom: 20px;
}
.footer-text{
    font-size: 14px;
    font-family: 'Gilroy-Medium', sans-serif;
    line-height: 19px;
    margin-bottom: 23px;
}
.footer-social{
    gap: 21px;
}
.social-item{
    width: 33px;
    height: 33px;
}
.social-item a{
    width: 100%;
    height: 100%;
    background: url('../images/Sprite.svg');
    display: flex;
}
.social-item a.vk{
    background-position:-71px -138px;
}
.social-item a.ok{
    background-position:-104px -138px;
}
.social-item a.instagram {
    background-position:-137px -138px;
}
.social-item a.fb{
    background-position:-170px -138px;
}
.social-item a.whatsapp{
    background-position:-203px -138px;
}
.footer-title{
    font-size: 20px;
    font-family: 'Songersemiexpandedbold', sans-serif;
    line-height: 26px;
    margin-bottom: 17px;
    text-transform: uppercase;
}
.footer-menu a{
    color: #fff;
    font-size: 16px;
    font-family: 'Gilroy-Medium', sans-serif;
    line-height: 26px;
    margin-bottom: 5px;
}
.footer-menu{
    height: 150px;
    flex-flow: column wrap;
    column-gap: 68px;
}
.address{
    padding-left: 40px;
    position: relative;
    font-size: 16px;
    line-height: 19px;
    font-family: 'Gilroy-Medium', sans-serif;
    display: flex;
    align-items: center;
    max-width: 344px;
    margin-bottom: 15px;
}
.address:before{
    content: '';
    width: 26px;
    height: 26px;
    background: url("../images/Sprite.svg") no-repeat;
    position: absolute;
    background-position: -280px -178px;
    left: 0;
}

.email{
    padding-left: 40px;
    position: relative;
    font-size: 16px;
    line-height: 19px;
    font-family: 'Gilroy-Medium', sans-serif;
    display: flex;
    align-items: center;
    max-width: 344px;
    margin-bottom: 18px;
    color: #fff;
}
.email:before{
    content: '';
    width: 26px;
    height: 26px;
    background: url("../images/Sprite.svg") no-repeat;
    position: absolute;
    background-position: -280px -209px;
    left: 0;
}
.tel{
    padding-left: 40px;
    position: relative;
    font-size: 16px;
    line-height: 19px;
    font-family: 'Songersemiexpandedbold', sans-serif;
    display: flex;
    align-items: center;
    max-width: 344px;
    margin-bottom: 18px;
    color: #fff;
}
.tel:before{
    content: '';
    width: 26px;
    height: 26px;
    background: url("../images/Sprite.svg") no-repeat;
    position: absolute;
    background-position: -309px -177px;
    left: 0;
}
.review-bottom p{
    color: #909090;
    font-family: 'Gilroy-Medium', sans-serif;
    line-height: 22px;
}
.review-item{
    box-shadow: 0 0 10px #c4c4c447;
    height: 266px;
    padding: 20px 23px 28px 20px;
    margin:0 10px 10px;
    border-radius: 10px;
}
.review-user{
    gap: 16px;
}
.review-date{
    font-size: 14px;
    color: #8C8C8C;
    font-family: 'Gilroy-Medium', sans-serif;
}
.review-user-name{
    color: #414141;
    font-size: 18px;
    font-family: 'Gilroy-SemiBold', sans-serif;
    line-height: 22px;
    margin-bottom: 2px;
}

.review-user-link{
    font-size: 16px;
    line-height: 19px;
    padding-right: 22px;
    position: relative;
    font-family: 'Gilroy-Medium', sans-serif;
    color: #8C8C8C;
    align-items: center;
    gap: 11px;

}
.review-user-link:before{
    content: '';
    background: url('../images/Sprite.svg');
    background-position: -56px -140px;
    position: absolute;
    right: 0;
    top: 2px;
    width: 13px;
    height: 13px;
}

.review .owl-prev{
    position: absolute;
    left: -103px;
    top: 50%    ;
    transform: translateY(-50%);
}
.review .owl-next{
    position: absolute;
    right: -103px;
    top: 50%    ;
    transform: translateY(-50%);
}

.review .section-title{
    margin-bottom: 50px;
}
.review-top{
    margin-bottom: 15px;
}
.review-stars{
    gap: 6px;
    align-items: center;
}
.star-full{
    width: 27px;
    height: 25px;
    background: url('../images/Sprite.svg');
    background-position: -398px -83px;
    display: flex;
}
.search-btn{
    width: 20px;
    height: 20px;
    background: url('../images/Sprite.svg');
    background-position: -304px -21px;
    display: flex;
    position: absolute;
    right: 24px;
}
.pr{
    position: relative;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
    background: #83CB2F;
}
.contacts{
    padding: 0 130px;
    position: relative;
}
.contacts:before{
    content: '';
    background: url('../images/contact-tree-left.webp');
    width: 159px;
    height: 666px;
    position: absolute;
    left: 0;
    bottom: -300px;
}
.breadcrumbs{
    gap: 5px;
    margin-bottom: 12px;
}
.breadcrumbs-item a, .breadcrumbs-item{
    color: #909090;
    font-size: 14px;
    font-family: 'Gilroy-Medium', sans-serif;
}
.contacts .section-title{
    margin-bottom: 37px;
}
.contact-left{
    max-width: 868px;
}
.contact-left p{
    font-size: 17px;
    line-height: 27px;
    font-family: 'Gilroy-Medium', sans-serif;
    margin-bottom: 10px;
}
.contact-right{
    width: 538px;
    height: 549px;
    padding: 41px 60px 60px;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0 0 10px #c4c4c447;
    position: relative;
    overflow: hidden;
}
.contact-right:before{
    content: '';
    background: url('../images/contact-leaf.webp');
    width: 168px;
    height: 107px;
    position: absolute;
    left: 0;
    bottom: 0;
}
.contact-right:after{
    content: '';
    background: url('../images/contact-tree.webp');
    width: 336px;
    height: 123px;
    position: absolute;
    right: 0;
    bottom: 0;
}
.contact-form-title{
    font-size: 28px;
    font-family: 'Songersemiexpandedbold', sans-serif;
    margin-bottom: 34px;
    position: relative;
}
.contact-form-title:before{
    content: '';
    background: url('../images/birds.webp');
    width: 119px;
    height: 57px;
    position: absolute;
    right: -40px;
}
.contacts-form label{
    color: #909090;
    font-size: 15px;
    margin-bottom: 5px;
    font-family: 'Gilroy-Medium', sans-serif;
}
.contacts-form input{
    height: 70px;
    padding: 26px 32px;
    box-sizing: border-box;
}
.form-item{
    margin-bottom: 31px;
}
.form-item .btn{
    height: 77px;
    font-size: 12px;
    margin-bottom: 13px;
}

.form-item p{
    color: #909090;
    font-size: 14px;
    text-align: center;
    font-family: 'Gilroy-Medium', sans-serif;
    line-height: 16px;
}
.contacts-tel{
    padding-left: 77px;
    position: relative;
    margin-bottom: 30px;
    margin-top: 50px;
}
.contacts-tel p:first-child{
    color: #909090;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 3px;
}
.contacts-tel p{
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 22px;
    line-height: 26px;
}
.contacts-tel:before{
    content: '';
    position: absolute;
    background: url('../images/Sprite.svg');
    background-position: -153px -178px;
    width: 59px;
    height: 59px;
    left: 0;
}
.contacts-email{
    padding-left: 77px;
    position: relative;
}
.contacts-email:before{
    content: '';
    position: absolute;
    background: url('../images/Sprite.svg');
    background-position: -216px -178px;
    width: 59px;
    height: 59px;
    left: 0;
}
.contacts-email p:first-child{
    color: #909090;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 3px;
}
.contacts-email p{
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 22px;
    line-height: 26px;
}
.contacts-map{
    padding: 0 130px;
    margin-top: 197px;
    margin-bottom: 240px;
    position: relative;
}
.contacts-map:before{
    content: '';
    background: url("../images/contact-leaf-right.webp");
    background-size: contain;
    width: 165px;
    height: 192px;
    position: absolute;
    right: 0;
    bottom: -200px;
}
.map-left{
    padding: 30px;
    box-shadow: 0 0 10px #c4c4c447;
    border-radius: 20px;
}
.map-left  h4{
    color: #83CB2F;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: 'Songersemiexpandedbold', sans-serif;
    line-height: 27px;
}
.map-left p{
    font-size: 17px;
    margin-bottom: 8px;
    font-family: 'Gilroy-Medium', sans-serif;
    line-height: 20px;
}
.map-bold{
    font-family: 'Gilroy-SemiBold', sans-serif;
    margin-bottom: 14px;
}
.map-left img{
    margin-top: auto;

}

.map-right{
    padding: 30px;
    box-shadow: 0 0 10px #c4c4c447;
    border-radius: 20px;
}
.map-right  h4{
    color: #83CB2F;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: 'Songersemiexpandedbold', sans-serif;
    line-height: 27px;
}
.map-right p{
    font-size: 17px;
    margin-bottom: 8px;
    font-family: 'Gilroy-Medium', sans-serif;
    line-height: 20px;
}

.map-right img{
    margin-top: auto;
}
.portfolio{
    padding: 0 130px;
}
.portfolio-head{
    margin-bottom: 50px;
}
.portfolio-search{
    width: 240px;
    height: 64px;
}
.portfolio-search input{
    width: 100%;
    height: 100%;
    padding: 25px 19px 22px 20px;
    box-sizing: border-box;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Gilroy-Medium', sans-serif;
    color: #909090;
}
.portfolio-list{
    gap: 20px;
    margin-bottom: 45px;
}
.portfolio-item{
    width: calc((100% - 40px) / 3);
    box-shadow: 0 0 10px #c4c4c447;
    border-radius: 20px;
}

.portfolio-item h4{
    color: #4B4E50;
    font-size: 16px;
    font-family: 'Songersemiexpandedbold', sans-serif;
    line-height: 21px;
    padding-top: 22px;
    padding-left: 31px;
    padding-right: 31px;
    padding-bottom: 23px;
    text-transform: uppercase;
}
.pagination{
    margin-bottom: 130px;
    gap: 7px;
}
.pagination-item{
    width: 42px;
    height: 42px;
    border-radius: 5px;
    background: #F3F2F2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pagination-item a{
    font-size: 15px;
    font-family: 'Gilroy-Medium', sans-serif;
    color: #4B4E50;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pagination-item:hover a,  .pagination-item-active a{
    color: #fff;
}
.pagination-item:hover, .pagination-item-active{
    background: #83CB2F;
}
.pagination-item-prev a{
    background: url('../images/Sprite.svg');
    background-position: -315px -117px;
    width: 8px;
    height: 16px;
}
.pagination-item-next a{
    background: url('../images/Sprite.svg');
    background-position: -328px -116px;
    width: 9px;
    height: 17px;
}
.blog-posts .blog-post{
    width: calc((100% - 68px) / 2);
}
.blog-posts .blog-post .post-right{
    width: calc(100% - 425px);
}
.no-scroll{
    overflow: hidden;
}
.blog-posts{
    margin-bottom: 45px;
    gap: 40px;
}
.post{
    padding: 0 130px 130px;
}
.post-content-left{
    max-width: 904px;
    width: 100%;
    padding-top: 38px;
}
.post-date{
    color: #8C8C8C;
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 3px;
}

.post-content-left .section-title{
    margin-bottom: 36px;
}

.post-content-text{
    font-size: 17px;
    font-family: 'Gilroy-Medium', sans-serif;
    line-height: 27px;
}
.bottom-block{
    margin-top: 130px   ;
}
.post-list{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 17px;
    color: #4B4E50;
    font-family: 'Gilroy-Medium', sans-serif;


}
.post-list li{
    padding-left: 37px;
    position: relative;
}
.post-list li:before{
    content: '';
    width: 17px;
    height: 17px;
    border-radius: 100%;
    left: 0;
    background: #83CB2F;
    position: absolute;
}
.post:before{
    content: '';
    background: url('../images/contact-tree-left.webp');
    width: 159px;
    height: 666px;
    position: absolute;
    left: -25px;
    top: 50%;
}
.portfolio-text{
    max-width: 679px;
    height: 455px;
    padding: 28px 36px 28px 33px;
    box-shadow:0 0 10px #c4c4c447;
    background: #fff;
    border-radius: 20px;
}
.portfolio-view-photos{
    max-width: 963px;
    height: 461px;
    border-radius: 20px;


}
.portfolio-view-item{
    gap: 16px;
    margin-bottom: 254px;
}
.portfolio-text p:first-child{
    font-size: 20px;

}
.portfolio-text p{
    font-size: 16px;
    color: #909090;
    font-family: 'Gilroy-Medium', sans-serif;
    line-height: 24px;
    margin-bottom: 15px;
}
.portfolio-text p span{
    color: #4B4E50;
    font-family: 'Gilroy-Bold', sans-serif;

}
.portfolio-view-item .owl-nav{
    padding-right: 0;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    display: flex;
    justify-content: center;
}
.portfolio-view-tab .btn{
    width: 273px;
    height: 77px;
    font-size: 12px;

}
.portfolio-view-tab{
    margin-bottom: 50px;
    gap: 24px;
}

.btn-gray-outline{
    border: 1px solid #C6C6C6;
    color: #C6C6C6;
    font-size: 12px;
}
.portfolio-view .section-title{
    margin-top: 38px;
}
#sync1{
    margin-bottom: 40px;
}

#sync1 .item{
    height: 574px;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;

}
#sync2 .item{
    height: 189px;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    border-radius: 10px;
}
#sync2 .item img{
    object-fit: cover;
    height: 100%;
}
#sync2 .item h1{
    font-size: 18px;
}
#sync2 .owl-prev{
    position: absolute;
    left: -80px;
    top: 50%;
    transform: translateY(-50%);
}
#sync2 .owl-next{
    position: absolute;
    right: -80px;
    top: 50%;
    transform: translateY(-50%);

}

.btn-back{
    width: 302px;
    font-size: 12px;
    height: 77px;
    margin-bottom: 130px;
}
.leave-request-portfolio:after{
    background: url('../images/request-left-1.webp');
    width: 255px;
    height: 208px;
}
.portfolio-view-item:last-child{
    margin-bottom: 130px;
}
.offer-list{
    gap: 22px;
    margin-bottom: 50px;
}
.offer{
    padding-left: 130px;
    padding-right: 130px;
    padding-bottom: 130px;
}

.offer p{
    font-size: 17px;
    line-height: 27px;
    font-family: 'Gilroy-Medium', sans-serif;
    margin-bottom: 20px;
}

.offer-item span{
    color: #fff;
    font-size: 45px;
    line-height: 60px;
    font-family: 'Songersemiexpandedbold', sans-serif;
    position: absolute;
    right: 20px;
    bottom: 10px;
}
.offer-item div:before{
    content: '';
    position: absolute;
    background: url("../images/offer-bg.webp");
    width: 230px;
    height: 161px;
    right: 0;
    bottom: 0;
}
.offer-item p{
    text-align: center;
    margin-top: 25px;
    font-size: 18px;
    font-family: 'Songersemiexpandedbold', sans-serif;
    color: #000;
    line-height: 24px;
}
.work-with-us-about .work-with-us-info{
    gap:20px
}
.work-with-us-about .work-with-us-info >div{
    width: calc((100% - 60px)/ 4);
}
.work-with-us-about .work-with-us-info >div:nth-child(2n){
    box-shadow:0 0 10px #c4c4c447;
}
.about-video{
    padding-right: 130px;
    padding-left: 130px;
    margin-bottom: 130px;
}
.about-video iframe{
    width: 100%;
    height: 720px;
}
.our-team{
    padding-left: 130px;
    padding-right: 130px;
    margin-bottom: 130px;
}
.team-name{
    margin-top: 21px;
    font-size: 23px;
    line-height: 30px;
    font-family: 'Songersemiexpandedbold', sans-serif;
    text-align: center;
    margin-bottom: 7px;
}
.team-text{
    font-size: 15px;
    text-align: center;
    color: #909090;
    font-family: 'Gilroy-Medium', sans-serif;
    line-height: 15px;
}
.team-list .owl-prev{
    position: absolute;
    left: -100px;
    top: 50%;
    transform: translateY(-50%);
}
.team-list .owl-next{
    position: absolute;
    right: -100px;
    top: 50%;
    transform: translateY(-50%);
}
.certificate{
    padding-left: 130px;
    padding-right: 130px;
    margin-bottom: 130px;
}
.certification-list{
    gap: 20px;
}

.certification-item{
    width: 400px;
    height: 465px;
    background: #EEEEEE;
    border-radius: 10px;
}

.promotions{
    padding-left: 130px;
    padding-right: 130px;
    margin-bottom: 130px;
}
.promotion-item{
    height: 450px;
    border-radius: 20px;
    width: calc((100% - 20px)/2);
}

.promotion-gray{
    background: #4B4E50;
}
.promotion-orange{
    background: linear-gradient(90deg, #F19B24 26.6%, #FBC36C 98.78%);

}
.promotion-left{
    padding-top: 38px;
    padding-left: 36px;
    color: #fff;
}
.promotion-right{
    background: url('../images/promotion1.webp');
}
.promotion-list{
    gap: 20px;
}

.promotion-item h4{
    font-size: 26px;
    line-height: 34px;
    font-family: 'Songersemiexpandedbold', sans-serif;
    max-width: 371px;
    margin-bottom: 20px;
}
.promotion-item p{
    font-size: 16px;
    line-height: 22px;
    font-family: 'Gilroy-Medium', sans-serif;
    margin-bottom: 10px;
    max-width: 353px;
}

.btn-white{
    background: #fff;
    border-radius: 7px;
    color: #4B4E50;
    font-size: 12px;
}

.promotion-actions{
    gap: 22px;
    margin-top: 37px;
}
.btn-watch{
    color: #fff;
    text-decoration: underline;
    font-size: 13px;
    font-family: 'Gilroy-Medium', sans-serif;
    line-height: 16px
}
.promotion-gray:after{
    content: '';
    background: url('../images/promotion1.webp');
    width: 579px;
    height: 450px;
    right: 0;
    bottom: 0;
    position: absolute;
}
.promotion-orange:after{
    content: '';
    background: url('../images/promotion2.webp');
    width: 579px;
    height: 450px;
    right: 0;
    bottom: 0;
    position: absolute;
}
.promotions .breadcrumbs{
    margin-bottom: 50px;
}
.promotion-view{
    padding-left: 130px;
    padding-right: 130px;
    margin-bottom: 130px;
}
.promotion-content h4{
    margin-bottom: 40px;
    margin-top: 38px;
}
.promotion-content-right{
    max-width: 749px;
    width: 100%;
}
.promotion-content-text{
    font-size: 17px;
    font-family: 'Gilroy-Medium', sans-serif;
    line-height: 27px;
    margin-bottom: 20px;
    max-width: 760px;
    width: 100%;
}
.leave-request-promotion:after {
    background: url('../images/promotion-request-bg.webp');
    width: 257px;
    height: 192px;
}
.banner:before{
    content: '';
    background-image: image-set(
            url("../images/banner-tree.webp") 2x,
            url("../images/banner-tree-1x.webp") 1x
    );
    background-repeat: no-repeat;
    background-position: center left;
    width: 271px;
    height: 369px;
    position: absolute;
    bottom: -200px;
    left: 0;
}
.what-we-do:before{
    content: '';
    background: url('../images/leaf-left.webp');
    width: 122px;
    height: 248px;
    position: absolute;
    top: 0;
    left: 0;
}
.what-we-do:after{
    content: '';
    background: url('../images/leaf-right.webp');
    width: 160px;
    height: 268px;
    position: absolute;
    top: 20%;
    right: 0;
}
.top-sales:after{
    content: '';
    background: url('../images/bird-right.webp');
    width: 119px;
    height: 57px;
    position: absolute;
    top: -100px;
    right: 0;
}
.top-sales:before{
    content: '';
    background: url('../images/leaf-left-1.webp');
    width: 157px;
    height: 268px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.work-with-us:before{
    content: '';
    background: url('../images/tree-left.webp');
    width: 187px;
    height: 629px;
    position: absolute;
    bottom: -200px;
    left: 0;
}
.review:before{
    content: '';
    background: url('../images/banner-tree.webp');
    width: 271px;
    height: 369px;
    position: absolute;
    bottom:-150px;
    left: 0;
}
.why-us:before{
    content: '';
    background: url('../images/tree-left.webp');
    width: 187px;
    height: 629px;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: rotate(-180deg);

}

.blog .content:after{
    content: '';
    background: url('../images/bird-right.webp');
    width: 119px;
    height: 57px;
    position: absolute;
    top: 0;
    right: 0;
}
.about:after{
    content: '';
    background: url('../images/bird-right.webp');
    width: 119px;
    height: 57px;
    position: absolute;
    top: 0;
    left: 0;
}
.review-list{
    margin-bottom: 50px;
}

.dropdown.opened{
    display: flex;
    position: absolute;
    width: calc(100% - 260px);
    background: #fff;
    z-index: 2;
    top: 206px;
    padding: 41px 89px;
    box-sizing: border-box;
    height: 240px;
    border: 1px solid #F2F2F2;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    gap: 168px;
}
.dropdown a{
    color: #909090;
    font-size: 16px;
}
.dropdown li a{
    padding-left: 0!important;
    color: #909090!important;
}
.dropdown li a:before{
    display: none!important;
}
.dropdown h4{
    font-size: 20px;
    line-height: 26px;
    font-family: 'Songersemiexpandedbold', sans-serif;
    color: #4B4E50;
    margin-bottom: 20px;
}
.dropdown ul{
    gap: 8px  70px;
    height: 112px;
    flex-flow: column wrap;
}
.review-page{
    padding-right: 130px;
    padding-left: 130px;
    margin-bottom: 130px;
}

.review-list-content{
   gap: 20px;
    margin-top: 50px;
    margin-bottom: 45px;
}
.review-list-content .review-item{
    width: calc((100% - 40px) / 3);
    margin: 0;
}
.blog-review .content:after{
    display: none;
}
.review-action{
    padding: 16px 20px ;
    background: #fff;
    border-radius: 20px;
    box-shadow: -1px 9px 10px #c4c4c447;
}
.review-action .btn{
    max-width: 390px;
    width: 100%;
}
.review-action .btn-white{
    background: #F7F7F7;
    font-size: 13px;

}

.review-page .section-title{
    margin-top: 38px;
}
.review-list-content  .review-item-youtube{
    width: calc((100% - 60px) / 4);
    min-height: 404px;
    padding: 0;
    box-shadow: none;
    margin-bottom: 20px;
}
.review-video {
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 21px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.review-video:before{
    content: '';
    background: url('../images/Sprite.svg');
    background-position: 0 -246px;
    width: 74px;
    height: 52px;
    position: absolute;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
}
.review-item-youtube h4{
    font-size: 23px;
    line-height: 30px;
    font-family: 'Songersemiexpandedbold', sans-serif;
    margin-bottom: 7px;
}
.review-item-youtube p{
    font-size: 15px;
    line-height: 20px;
    font-family: 'Gilroy-Medium', sans-serif ;
   color: #909090;
}
.review-img {
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 21px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.review-list-content  .review-item-write{
    height: 465px;
    width: calc((100% - 60px) / 4);
    background: #EEEEEE;
    border-radius: 10px;
    position: relative;
}
.review-list-content  .review-item-write:before{
    content: '';
    width: 37px;
    height: 37px;
    position: absolute;
    top: 20px;
    right: 20px;
    background: url('../images/Sprite.svg');
    background-position: -79px -246px;
}
.accordion-closed{
    display: none;
}

.vacancy{
    padding-left: 130px;
    padding-right: 130px;
    margin-bottom: 130px;
}

.accordion-item{
    padding-top: 23px;
    padding-bottom: 24px;
    border-top: 1px solid #C6C6C6;
}
.accordion-title h4{
    font-size: 18px;
    line-height: 24px;
    font-family: 'Songersemiexpandedbold', sans-serif;
}
.accordion-btn{
    width: 49px;
    height: 49px;
    display: flex;
    position: relative;
    border-radius: 100%;
    background: #F7F7F7;
}